body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: courier, monospace;
    font-size: 10pt;
    color: black;
}

/* Styling for the background video in index.html */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: -1; /* Places the video behind other content */
}

/* No background image for index.html (video is used instead) */
body.index {
    background: none; /* Remove the background image */
}

/* Background image for staking.html */
body.staking {
    background-image: url('https://raw.githubusercontent.com/GuTTedPoSSuM/staking-solution/main/staking-solution.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Background image for contact.html */
body.contact {
    background-image: url('https://raw.githubusercontent.com/GuTTedPoSSuM/staking-solution/main/contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0;
}

td {
    width: 33.3%;
    height: 33.3%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

td.middle {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6); /* White background with 60% opacity */
    padding: 20px; /* Adding some padding for better readability */
    box-sizing: border-box; /* Ensures padding doesn't affect cell size */
}

.middle div {
    margin-left: auto;
    margin-right: auto;
    color: black; /* Ensure text stays black and readable */
}